<html>
  <head>
  </head>
  <body>
    <h1>NDLSearch BibTeX : NDLSearchの書誌からBibTeXを出力</h1>
    <p>1.以下のリンクをブックマークツールバーにドラッグ&ドロップしてください。</p>
    <p><a href="javascript:(function(){ document.location.href = 'http://<%= @bibtex_path %>?url='+document.location.href})();">bibtexに変換!</a>
    <p>2.NDLサーチにアクセスし、書籍を検索します。</p>
    <p>3.詳細書誌画面にて、ブックマークツールバーに貼り付けた「bibtexに変換!」ボタンをクリックすると、BibTeXで書誌情報が出力されます。</p>
  </body>
</html>
